<li>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Sign Out", "LogOff", "Account")
    }
    else
    {
        @Html.ActionLink("Sign In", "Login", "Account")
    }
</li>
<li>
    @if (!User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Register", "Register", "Account")
    }
</li>
<li class="dropdown">
    @if (User.Identity.IsAuthenticated)
    {
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="manage-account">Manage Account <span class="caret"></span></a>
    
        <ul class="dropdown-menu" aria-labelledby="themes">
            <li>@Html.ActionLink("Update Profile", "UpdateProfile", "Account")</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
        </ul>
    }
</li>
<li>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Employee"))
    {
        @Html.ActionLink("Employee Portal", "EmployeePage", "Employee")
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Administrator Portal", "AdministratorPage", "Administrator")
    }
    else if (User.Identity.IsAuthenticated)
    {
        @*@Html.ActionLink("Customer Portal", "CustomerPage", "Customer")*@
        <a href="#">Customer Portal</a>
    }
</li>
