@model Dictionary<string, List<LacysMobile.Models.Product>>
<body>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-6">
                <h1>@ViewBag.Header</h1>
                <p class="lead">Quality Retail Shopping</p>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</body>

<div class="row">
    <div class="col-lg-12">
        <p class="lead">Featured Products:</p>
    </div>
    <div class="col-lg-2">
        <div class="well" style="width: 200px; margin: 0 auto">
            <div id="this-carousel-id" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        @{
                            var specialImage1 = Model.First(m => m.Key == "SpecialCarouselProducts").Value.First().ImageName + "_Sml.jpg";
                            string hrefString = "/Products/Product/?id=" + Model.First(m => m.Key == "SpecialCarouselProducts").Value.First().ProductID;
                        }
                        <a href="@hrefString">
                        <img src="Images/@specialImage1" alt="@specialImage1" />
                            </a>
                        <div class="carousel-caption">
                        </div>
                    </div>
                    @foreach (var product in Model.First(m => m.Key == "SpecialCarouselProducts").Value.Skip(1))
                    {
                        string hrefString1 = "/Products/Product/?id=" + product.ProductID;
                        <div class="item">
                            <a href="@hrefString1">
                            <img src="Images/@(product.ImageName)_Sml.jpg" alt="@product.ImageName" />
                                </a>
                            <div class="carousel-caption">
                            </div>
                        </div>  
                        
                    }
                </div>
                <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-lg-12">
        <p class="lead">New Products:</p>
    </div>
    <div class="col-lg-4">
        <div class="well" style="width: 200px; margin: 0 auto">
            <div id="this-carousel-id1" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        @{
                            var newImage1 = Model.First(m => m.Key == "NewCarouselProducts").Value.First().ImageName + "_Sml.jpg";
                            string hrefString2 = "/Products/Product/?id=" + Model.First(m => m.Key == "NewCarouselProducts").Value.First().ProductID;
                        }
                        <a href="@hrefString2">
                            <img src="Images/@newImage1" alt="@newImage1" />
                        </a>
                        <div class="carousel-caption">
                        </div>
                    </div>
                    @foreach (var product in Model.First(m => m.Key == "NewCarouselProducts").Value.Skip(1))
                    {
                        string hrefString3 = "/Products/Product/?id=" + product.ProductID;
                        <div class="item">
                            <a href="@hrefString3">
                                <img src="Images/@(product.ImageName)_Sml.jpg" alt="@product.ImageName" />
                            </a>
                            <div class="carousel-caption">
                            </div>
                        </div>  
                    }
                </div>
                <a class="carousel-control left" href="#this-carousel-id1" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#this-carousel-id1" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 3000, pause: "hover"
        });
    });
</script>
